{% extends "base_layout.html" %}

{% block title  %}
<title>Open Source Licences</title>\
{% endblock  %}

{% block content  %}




    <h1>NOW IS {{now}}</h1>
    <br>
    <br>
    <h1>Open Source</h1>
    <h3>Several fantastic pieces of free and open-source programming languages and frameworks have
        really helped get me do what I did like this web Application.
        As I enjoy giving credit where it's due, I included the entire list below.
        This means you can not only see which programming language / framework / tools / libraries
        I've been using, but the terms of the licenses too.
        A big thanks from the depth of my heart to all the smart people behind the fantastic stuff
        listed. Rock on!</h3>
    <ul>
        <li><a href="https://python.org">PYTHON LANGUAGE</a> ( world's most popular programming language in 2020)</li>
        <li><a href="https://djangoproject.com">DJANGO</a> - a web framework for python djangoproject.com ( World's No.1
            webframework in 2020)</li>
        <li><a href="https://mertjf.github.io/tailblocks">TAILBLOCKS</a>(based on Tailwind CSS )
            mertjf.github.io/tailblocks
        </li>
    </ul>
    <h1>A BIG THANKS TO ALL WHO DEVELOPED COMPUTERS, INTERNET AND PROTOCOLS AND SO MUCH MORE</h1>
    <h2>we take everything for granted , IT TAKES GREAT EFFORT TO BUILD THINGS</h2>
    <h3>dont misuse INTERNET</h3>
    <br>
    <br>
    <h4>Thanks</h4>


{% endblock  %}